.video-responsive {
  overflow: hidden;
  padding-bottom: 38.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 1.5rem;
}
.online {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../video-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1a0e22;
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: white;
}
