.hero {
  font-family: Barlow, sans-serif;
  background-image: url("../hero-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  padding: 10px 0px;
}

.navbar {
  --bs-navbar-color: white;
  background-color: #534f44;
  padding: 1rem 3rem;
}
h1 {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 10rem;
}
.read-more {
  padding: 1.3rem 4rem;
  font-size: 1.3rem;
}

@media screen and (max-width: 530px) {
  .hero-avatar img {
    width: 350px;
  }
  h1 {
    margin-top: 2rem;
    font-size: 2.6rem;
  }
}
